@import url('animation.css');

:root {
    --body-bg-color: #eee;
    --font-color: #232558;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
}

body {
    background-color: var(--body-bg-color);
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--body-bg-color);
    padding-top: 100px 0;
}


nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 95px;
    background-color: var(--body-bg-color);
    z-index: 999;
}

.logo {
    width: 300px;
}

.nav-mask {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
    z-index: 999;
}

.nav-links>li {
    margin: 0 12px;
    position: relative;
}

.nav-links li:nth-child(6) {
    margin: 0 0 0 12px;
}

.nav-links>li a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links>li a::after {
    content: "";
    height: 1px;
    width: 0%;
    background-color: var(--font-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 0;
    transition: all ease-in 0.175s;
}

.nav-links>li a:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown {
    position: absolute;
    list-style: none;
    background-color: var(--font-color);
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    visibility: hidden;

    transition: all ease 0.4s;
}

.dropdown li {
    padding: 0;
    position: relative;
}

.dropdown li a {
    color: var(--body-bg-color);
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.nav-links>li:hover .dropdown {
    visibility:visible;
    opacity: 1;
    transition: all ease 0.1s;
}

.dropdown li a:hover {
    text-decoration: underline;
}

.nav-search {
    display: none;
}

.hamburger {
    display: none;
    padding-right: 17px;
}

/* footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    padding: 50px 100px;
}

.footer-item {
    margin-right: 30px;
}

.footer-item:last-child {
    margin: 0;
}
.footer-item h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.footer-item-list {
    padding: 0;
}

.footer-item-list li {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-item-list li span:first-child {
    font-weight: bold;
    font-size: 17px;
}

.footer-item-list a {
    text-decoration: none;
    color: var(--font-color);
}

.footer-item-search {
    display: flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.footer-item-search input {
    width: 270px;
    padding-left: 10px;
    font-size: 16px;
    border: 0;
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer-item-search input {
        width: 270px;
    }
}


@media only screen and (max-width: 768px) {
    nav { 
        position: fixed;
        padding: 2px 20px;
    }
    
    .nav-mask {
        display: block;
    }

    .nav-mask.active {
        background-color: #3333339c;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .nav-links {
        display: block;
        position: fixed;
        padding: 15px 0 0 17px;
        left: -100%;
        top: 0;
        bottom: 0;
        right: auto;
        background-color: #fff;
        width: 40%;
        margin: 0;
        transition: all ease 0.3s;
    }

    .nav-links.active {
        visibility: visible;
        left: 0;
    }

    .nav-links>li {
        padding: 12px 0;
        z-index: 999;

    }
    .nav-links>li a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
    }
    
    .nav-links>li a::after {
        content: none;
    }
    
    .dropdown {
        background-color: #fff;
        width: 100%;
        padding: 0;
        border-radius: 5px;
        margin-top: 0px;
        max-height: 0%;
        position: relative;
        overflow: hidden;
        visibility: visible;

        transition: all ease-out 0s;
    }
    .dropdown li {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.5s;
    }

    .nav-links>li:hover .dropdown li {
        max-height: 1000px;
    }
    
    .dropdown li a {
        color: #777;
        padding: 5px 0;
        font-size: 17px;
    }

    .dropdown li a:hover {
        text-decoration: none;
    }
    /* Warning check max-width */
    .nav-links>li:hover .dropdown {
        visibility:visible;
        max-width: 100%;
        transition: all ease 0.5s;
    }

    .nav-search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 22px;
        padding-left: 15px;
    }

    .nav-search input {
        width: 90%;
        border: 0;
        outline: 0;
        font-size: 18px;
        padding-left: 5px;
    }

    .logo {
        width: 200px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 23px;
        height: 3px;
        background-color: var(--font-color);
        margin-bottom: 5px;

        transition: all ease 0.4s;
    }


    .hamburger.active span:nth-child(1){ transform: translateY(8px) rotate(45deg); }
    .hamburger.active span:nth-child(2){ opacity: 0 }
    .hamburger.active span:nth-child(3){ transform: translateY(-8px) rotate(-45deg); }

    footer {
        grid-template-columns: 1fr;
        padding-left: 20px;
    }

    .footer-item-search input {
        width: 90%;
    }
}

@media only screen and (max-width: 470px) {
    .nav-links {
        width: 55%;
    }
}