:root {
    --body-bg-color: #eee;
    --font-color: #232558;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
}

body {
    background-color: var(--body-bg-color);
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--body-bg-color);
    padding-top: 100px 0;
}


nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 95px;
    background-color: var(--body-bg-color);
    z-index: 999;
}

.logo {
    width: 300px;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
    z-index: 999;
}

.nav-links>li {
    margin: 0 12px;
    position: relative;
}

.nav-links li:nth-child(6) {
    margin: 0 0 0 12px;
}

.nav-links>li a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links>li a::after {
    content: "";
    height: 1px;
    width: 0%;
    background-color: var(--font-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 0;
    transition: all ease-in 0.15s;
}

.nav-links>li a:hover::after {
    opacity: 1;
    width: 100%;
}

.dropdown {
    position: absolute;
    list-style: none;
    background-color: var(--font-color);
    width: 220px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    /* display: none; */
    opacity: 0;
    visibility: hidden;

    transition: all ease 0.5s;
}

.dropdown li {
    padding: 0;
    position: relative;
}

.dropdown li a {
    color: var(--body-bg-color);
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.nav-links>li:hover .dropdown {
    visibility:visible;
    opacity: 1;
    transition: all ease 0.7s;
}

.dropdown li a:hover {
    text-decoration: underline;
}

.nav-search {
    display: none;
}

.hamburger {
    display: none;
    padding-right: 17px;
}

.hamburger span {
    display: block;
    width: 23px;
    height: 3px;
    background-color: var(--font-color);
    margin-bottom: 5px;
}

/* footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    padding: 50px 100px;
}

.footer-item {
    margin-right: 30px;
}

.footer-item:last-child {
    margin: 0;
}
.footer-item h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.footer-item-list {
    padding: 0;
}

.footer-item-list li {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-item-list li span:first-child {
    font-weight: bold;
    font-size: 17px;
}

.footer-item-list a {
    text-decoration: none;
    color: var(--font-color);
}

.footer-item-search {
    display: flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.footer-item-search input {
    width: 270px;
    padding-left: 10px;
    font-size: 16px;
    border: 0;
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer-item-search input {
        width: 270px;
    }
}


@media only screen and (max-width: 768px) {
    nav {   
        position: fixed;
        padding: 2px 20px;
    }

    .nav-right.active {
        background-color: #3333339c;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: block;
        position: absolute;
        margin: 0;
        padding: 15px 0 0 17px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 45%;
        background-color: #fff;
    }

    .nav-links.active li {
        padding: 12px 0;
        z-index: 999;

    }

    .nav-links.active li a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
    }

    .nav-search {
        display: block;
        margin-top: 22px;
        padding-left: 15px;
    }

    .nav-search input {
        border: 0;
        outline: 0;
        font-size: 18px;
        padding-left: 5px;
    }

    .logo {
        width: 200px;
    }

    .hamburger {
        display: block;
    }

    footer {
        grid-template-columns: 1fr;
        padding-left: 20px;
    }

    .footer-item-search input {
        width: 90%;
    }
}